<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>sss</display-name>
  <servlet>
    <servlet-name>t</servlet-name>
    <servlet-class>com.pro.net.BaseServer</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>UserList</servlet-name>
    <servlet-class>com.pro.servlet.UserList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.pro.servlet.AddUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveUser</servlet-name>
    <servlet-class>com.pro.servlet.RemoveUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lineofhistorydataofpress</servlet-name>
    <servlet-class>com.pro.servlet.Lineofhistorydataofpress</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Tableofhistorydataofp</servlet-name>
    <servlet-class>com.pro.servlet.Tableofhistorydataofp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangealarmInfo</servlet-name>
    <servlet-class>com.pro.servlet.ChangealarmInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lineofhistorydataoftemp</servlet-name>
    <servlet-class>com.pro.servlet.Lineofhistorydataoftemp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lineofhistorydataofrh</servlet-name>
    <servlet-class>com.pro.servlet.Lineofhistorydataofrh</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Tableofhistorydataoft</servlet-name>
    <servlet-class>com.pro.servlet.Tableofhistorydataoft</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Tableofhistorydataofrh</servlet-name>
    <servlet-class>com.pro.servlet.Tableofhistorydataofrh</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Getlampdata</servlet-name>
    <servlet-class>com.pro.servlet.Getlampdata</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Changelampdata</servlet-name>
    <servlet-class>com.pro.servlet.Changelampdata</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Temperatureofonetofive</servlet-name>
    <servlet-class>com.pro.servlet.Temperatureofonetofive</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlarminfoList</servlet-name>
    <servlet-class>com.pro.servlet.AlarminfoList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Addreport</servlet-name>
    <servlet-class>com.pro.servlet.Addreport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDatatomap</servlet-name>
    <servlet-class>com.pro.servlet.GetDatatomap</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Rhofonetofive</servlet-name>
    <servlet-class>com.pro.servlet.Rhofonetofive</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Pofonetomuch</servlet-name>
    <servlet-class>com.pro.servlet.Pofonetomuch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Getdataoflamp</servlet-name>
    <servlet-class>com.pro.servlet.Getdataoflamp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Dochangelampdata</servlet-name>
    <servlet-class>com.pro.servlet.Dochangelampdata</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>UserList</servlet-name>
    <url-pattern>/servlet/UserList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/servlet/AddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveUser</servlet-name>
    <url-pattern>/servlet/RemoveUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lineofhistorydataofpress</servlet-name>
    <url-pattern>/servlet/Lineofhistorydataofpress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Tableofhistorydataofp</servlet-name>
    <url-pattern>/servlet/Tableofhistorydataofp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangealarmInfo</servlet-name>
    <url-pattern>/servlet/ChangealarmInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lineofhistorydataoftemp</servlet-name>
    <url-pattern>/servlet/Lineofhistorydataoftemp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lineofhistorydataofrh</servlet-name>
    <url-pattern>/servlet/Lineofhistorydataofrh</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Tableofhistorydataoft</servlet-name>
    <url-pattern>/servlet/Tableofhistorydataoft</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Tableofhistorydataofrh</servlet-name>
    <url-pattern>/servlet/Tableofhistorydataofrh</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Getlampdata</servlet-name>
    <url-pattern>/servlet/Getlampdata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Changelampdata</servlet-name>
    <url-pattern>/servlet/Changelampdata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Temperatureofonetofive</servlet-name>
    <url-pattern>/servlet/Temperatureofonetofive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlarminfoList</servlet-name>
    <url-pattern>/servlet/AlarminfoList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Addreport</servlet-name>
    <url-pattern>/servlet/Addreport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDatatomap</servlet-name>
    <url-pattern>/servlet/GetDatatomap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rhofonetofive</servlet-name>
    <url-pattern>/servlet/Rhofonetofive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Pofonetomuch</servlet-name>
    <url-pattern>/servlet/Pofonetomuch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Getdataoflamp</servlet-name>
    <url-pattern>/servlet/Getdataoflamp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Dochangelampdata</servlet-name>
    <url-pattern>/servlet/Dochangelampdata</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.pro.servlet.AlarmListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.pro.servlet.WarningListener</listener-class>
  </listener>
</web-app>